.border {
    border-color: #FFB000;
}
body {
    background-color: #282828;
}
h1 {
     color: #FFCC00;
}
h2 {
    color: #FFCC00;
}
h3 {
    color: #FFCC00;
}
h4 {
    color: #FFCC00;
}
a {
    color: #FFCC00;
}
a:hover {
    color: #eeff00;
}