.col {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.center {
    justify-content: center;
}
.border {
    border: 2px solid black;
    border-top: dashed;
    border-bottom: dashed;
}
.border.border-bottom {
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px;
}
.border.border-topbottom { 
    border-left: 0px; 
    border-right: 0px;
}
div.img-box {
    border: 1px solid black;
    width: 100%; 
    height: 100%;
}
img.img-box {
    object-fit: contain; 
    height: 100%; 
    width: 100%;
}
ul.menu {
    list-style: none;
}
h1, h2, h3, h4, p, li {
    text-align: center;
    font-family: UnnamedDOSFontIV;
}
a {
    text-decoration: none;
    font-family: UnnamedDOSFontIV;
}
a.link:hover::before, a.link:active::before{
    content: ">  ";
}
a.link:hover::after, a.link:active::after {
    content: "  <";
}
h4.border.border.border-bottom {
    border-bottom: 1px solid;
}
@media screen and (min-width: 900px) {
    #main {
        margin-left: 15%; 
        margin-right: 15%;
    }
    div.img-box {
        border: 3px solid black;
        width: 25%; 
        height: 25%;
    }
    img.img-box {
        object-fit: contain; 
    }
}
