.col {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.border {
    border: 2px solid black;
    border-top: double;
    border-bottom: double;
}
ul.menu {
    list-style: none;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
li {
    text-align: center;
}