.col {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.border {
    border: 2px solid black;
    border-top: double;
    border-bottom: double;
}
.border.border-bottom {
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px;
}
ul.menu {
    list-style: none;
}
h1 {
    text-align: center;
    font-family: UnnamedDOSFontIV;
}
h2 {
    text-align: center;
    font-family: UnnamedDOSFontIV;
}
h3 {
    text-align: center;
    font-family: UnnamedDOSFontIV;
}
li {
    text-align: center;
    font-family: UnnamedDOSFontIV;
}
a {
    text-decoration: none;
    font-family: UnnamedDOSFontIV;
}
a:hover::before {
    content: ">  ";
}
a:hover::after {
    content: "  <";
}