html {
    height: 99%;
}
body {
    height: 99%;
    background-color: #282828;
}
p, h1, h2, h3  {
    color: #FFCC00;
}
a:link {
    color: #FFCC00;
}
a:visited {
    color: #ffcc0085;
}
a:hover, a:active  {
    color: #fbff00;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.border {
    border-bottom: 2px;
    border-color: #FFCC00;
    border-bottom-style: dashed;
}
.border:last-child {
    border-bottom: 0px;
}
#container {
    border: 2px;
    border-color: #FFCC00;
    border-style: dashed;
    border-left: #FFCC00 solid;
    border-right: #FFCC00 solid;
}

@media screen and (min-width: 900px) {
    .content {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    #container {
       margin-left: 10%;
        margin-right: 10%; 
    }
}
